ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.Header__MainMenu{
    position: sticky;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    /* background-color: #fff; */
}
.Header__MainMenu nav ul li{
    padding: 8px 10px;
    margin: 0 1px;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.2s;
}
.Header__MainMenu nav ul li:hover{
    cursor: pointer;
    border-top: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
    color: brown;
}
