.singlePItem{
    background-color: #fff;
    /* flex: 1; */
    width: calc(33.33% - 2px);
    height: 450px;
    border:1px solid rgb(196, 204, 212);
    padding: 3px;
    margin: 1px;
    position: relative;
    overflow: hidden;
}
.textInfo{
    padding: 5px 10px;
}
.ProductThumbnail{
    width: 100%;
    position: absolute;
    top: 0;
    /* height: auto; */
}
.ProductTitle{
    font-size: 18px;
    font-weight: 400;
}
.textInfo{
    position: absolute;
    bottom: 10px;
}