.productListings{
    flex: 0.8;
}
.productListingsTopBr .tab li{
    padding: 0 10px;
}
.PItems{
    flex-wrap: wrap;
    align-content: flex-start;
    /* justify-content: space-between; */
    border:1px solid rgb(196, 204, 212);
}